<!DOCTYPE html>
<html>

<script src="/scripts/blogpage.js"></script>

<!-- Decide blog index HERE -->
<script>
    const index = 0;
</script>

<head>
    <link rel="stylesheet" href="../../global.css">
    <title>Purple Swing | Blogs | Post</title>
</head>

<body>
    <div class="head">
        <h1 id="blogtitle">
            Blog Post
        </h1>
        <p id="blogdate">
            Dated:
        </p>
    </div>

    <hr>

    <div class="group">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium quo velit nihil soluta fuga aperiam ex
            doloribus vel ipsum, distinctio error consectetur accusantium quisquam, recusandae quia vitae deleniti
            labore eaque!
        </p>
    </div>



</body>