#archive-container {
    background-color: #0e425a;
    overflow: hidden;
    margin: 2% 5% 2% 5%;
    padding: 30px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.5)) drop-shadow(0px 0px 5px rgba(90, 39, 112, 0.4));
    border-radius: 15px;

    hr {
        margin: 2% 0% 2% 0%;
        background-color: #108397;
        border: none;
        height: 3px;
    }
}

li {
    font-family: "Poppins";
    color: white;
    list-style-type: none;
    font-weight: normal;
}

ul {
    font-family: "DM Sans";
    color: #fff9c6;
    font-weight: 100;
}

/* Swaps that give the website a blue color scheme */

#nav {
    background-color: #0e425a;
    scrollbar-color: #2a779b #0c1a26;
}

#nav a:hover {
    background-color: #2a779b;
}

#nav img {
    filter: hue-rotate(70deg) saturate(70%);
}

#bottomText {
    color: #4f6785
}

a {
    text-decoration: none;
    color: #45b7ec;
}

a:hover {
    color: #add6f7;
}

a:active {
    color: #d6e0ff;
}

body {
    background-color: #052635;
}