.socials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#socials-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;

    max-height: 800px;
    overflow: hidden;
    border-radius: 25px;
}

#socials-grid-item img, #socials-grid-item a {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#socials-grid-item:hover img {
    transform: scale(1.15);
}

#socials-grid-item:hover {
    filter: drop-shadow(0 0 1.9px rgb(255, 255, 255));
}

@media screen and (max-width: 800px) {
    .socials-grid {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
        margin-bottom: 30px;
    }
}